---
layout: page
title: Home
---

<article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">The p2p Tech Research Forum</h1>
  </header>
  <div class="c-article__main">
    <p>The forum and this page are still under construction.</p>
    <p>Feel free to read more about us <a href="{{ "/about/" | prepend: site.baseurl }}">here</a> or continue to our
    <a href="{% post_url 2018-11-25-inaugural-event %}">first blog post</a> about the upcoming inaugural meeting of the P2P-TRF.</p>
  </div>
</article>

<section class="c-archives">
  <link rel="shortcut icon" href="">
  {% for post in site.posts  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  {% if forloop.first %}
  <h2 class="c-archives__year" id="{{ this_year }}-ref">{{this_year}}</h2>
  <ul class="c-archives__list">
    {% endif %}
    <li class="c-archives__item">
      <h3>
        <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
        <br>
        <small>{{post.description}}</small>
      </h3>
      <p>{{ post.date | date: "%b %-d, %Y" }}</p>
    </li>
    {% if forloop.last %}
  </ul>
  {% else %}
  {% if this_year != next_year %}
</ul>
<h2 class="c-archives__year" id="{{ next_year }}-ref">{{next_year}}</h2>
<ul class="c-archives__list">
  {% endif %}
  {% endif %}
  {% endfor %}
</section>
